.container-fluid{
    padding: 0px;
    background-color: white;
}

.row {
  margin: 0;
}

.navbar{
    padding: 0;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
.nav li {
    width: 100%;
    position: relative;
    display: block;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.navbarabove{
  color: #fff;
  background: #C90000;
  width: 260px;
  text-align: center;
  height: 60px;
  font-size: 30px;
}

.adminavatar{
  margin: 10px auto;
  max-height:170px;
  max-width:170px;
}

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px;
  color: white !important;
  outline: none;
}

.nav li a:hover {
  background-color: #C90000;
}

.sidecolor{
  background-color: darkslategrey;
  color: white;
  padding: 0px;
}

.boxtext{
  font-weight: bold;
  font-size: 16px;
}

#page-wrapper{
  color: black;
  padding: 20px;
  background:#F3F3F3;
  min-height: 600px;
}

#page-inner {
  width:100%;
  margin:0;
  background-color:#fff!important;
  padding:15px;
}

.panel-back {
  background-color:#F8F8F8;
}

.noti-box {
  min-height: 100px;
  padding: 20px;
}
  
.noti-box .icon-box {
  display: block;
  margin: 0 15px 20px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.noti-box .icon-box:hover{
  transform: scale(1.2);
}

/* Moris Chart */
.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

svg { width: 100%; }

 /* unvisited link */
 a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
} 