@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

.containers{    
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.fix{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top:10px !important;
}

.login-button{
    padding:10px 20px !important;
    background-color: #8c8c7f !important;
    border-color: #fff !important;
}
.signup-button{
    padding:10px 20px !important;
    background-color: #fff !important;
    border-color: #8c8c7f !important;
}

.temp-header{
    height: 100px;
}

#header{
    width: 100%;
    height: auto;
    display: block;
    background: #1C00ff00;
}

#header-detail{
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid;
    border-color: #fff;
    background-color: #8c8c7f;
    height: 100px;
}

#header-bot{
    width: 100%;
    height: 100px;
    display: block;
    background:#ADD9E5;
    display: none;
}

#header-bot .row{
    padding-top:0px !important;
}

.header-bot-content{
    padding-left:0px !important;
    margin-bottom:0px !important;
    text-align: center;
    width: 50%;
}

.header-bot-content li
{
    border-bottom: 1px solid;
    list-style: none;
}


.thisThird{
    border-right: 1px solid;
}


.inner-header{
    width: 100%;
    /* height: 100%; */
    display: block; 
    margin: 0 auto;
    position: relative;
}

.logo-container{
    padding-left:50px;
    height: 100%;
    display: table;
    float: left;
}

.test-header{
    top:1px;
    position:absolute;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
    width: 100%;
    height: 100px;
}

.logo-container h1{
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Monserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo-container h1 span{
    font-weight: 800;
}

.fix-button{
    margin-top:30px;
}


.header-button{
    float: right;
    margin-top:30px;
    padding-right:50px;
}

.header-button .btn:link{
    position: relative;
}

.header-button .btn-white{
    background:white;
}

.header-search{
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    height: auto;
}

.search-bar{
   
    margin-bottom: 6px;
}

.search-tool{
    border: none;
    background: #f2f2f2;
    border-radius: 6px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search-tool input:focus{
    outline: none;
}

.search-input{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left:5px;
}

.search-input input{
    background: transparent;
}

.search-content{
    border: 0;
    box-shadow: none;
    padding: 0;
    font-size: 1rem;
    height: auto;
    line-height: 1.5;
    border-radius: 0!important;
}

.search-icon{
    display:flex;
}

.item-container-image{
    overflow: hidden;
}

.body{
    background-color: #F4F4F4;
}

.item{
    margin-top:30px;
}

.item-content{
    background-color: white;
}

.item-content span{
    color:#3e3e3e;
}

.item-name{
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;    
}

.item-name-child{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif !important; 
}

.item-status{
    padding-top:25px;
    padding-bottom:25px;
    text-align: center;
}

.item-status-child{
    font-family: Fjalla One;
    color: red;
}

.item-price{
    padding-top: 5px;
    text-align: center;
}

.item-price-child{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:red;
}

.item-detail{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.item-detail-child{
    font-family: 'Varela Round', sans-serif;
}

.item-container-image img{
    transition: transform .5s ease;
    width: 100%;
    height: auto;
}

.item-container-image:hover img{
    transform: scale(1.5);
}


.promo-area {
    background:#fbfbfb;
    color: #fff;
    padding: 40px 0 40px;
  }

  .single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: #fff;background: #222;}
.promo1 { background:#5a88ca;}
.promo2 { background:#ffd900;}
.promo3 { background:#fa8072;}
.promo4 { background:#4abebd;}


.box{
    

}
  
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:#ADD9E5;
    color:#000;
  }
  
  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
  }
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }

  .bnt{
      border: 0.5px solid transparent !important;
  }
  
  .btn-white::after {
      background: #fff;
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }




  .dropbtn {
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: 700;
  }

  
  .dropdown {
    position: relative; 
    display: inline-block;
    padding-top:40px    ;
    padding-left: 50px;
  }

  .first-child{
      margin-left:200px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
      background-color: #ADD9E5;
      text-decoration: none;
      color:white;
    }
  

/*=======================================================detail=================================*/
.detail-signin{
    background-color: transparent !important;
    color: #fff !important;
}

.detail-logo {
    padding-left:90px !important;

}
.hea-but-detail{
    padding-left: 82px !important;
}

.product-backgroud{
    width: 100%;
    height: 700px;
    position: relative;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    margin-bottom: 5px;
    
}

.box-text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.box-text{
    position: relative;
    display: table;
    width: 100%;
    height: auto;
}

.arialstyle{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family: Arial, Helvetica, sans-serif !important;
}

.title-wrap{
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top:200px;
}

.title-img{
    color: #fff;
    font-weight: 100;
    line-height: 55px;
    text-transform: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    font-size: 140px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-img-sub{
    margin-top:90px;
    color: #fff;
    font-weight: 100;
    line-height: 55px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    font-size: 120px;
}
.menu-detail{
    line-height: 30px;
    width: 91%;
    margin: 0 auto;
    background-color: #f6f5f4 !important;
    padding: 3.5em 0;
    position: relative;
    margin-top:5px;
}
.child-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb{
    list-style: none;
    background-color: transparent !important;
    padding: 20px 0;
    margin-bottom: 0;
    border-radius: 4px;
}
.breadcrumb li::before{
    font-family: FontAwesome;
    content: "" !important;
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb>li a{
    color: #3e3e3e;
    font-size: 20px;
}
.product-info{
    background-color: #8c8c7f !important;
}
.title{
    font-family: "Playfair Display","Old Standard TT",serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-left: auto;
    color: #fff;
    margin-right: auto;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.fix-color{
    color:#333 !important;
}
.fix-color-detail{
    color: #fff !important;
}

.colum{
    margin-top: 30px !important;
    max-width: 1050px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 30px !important;
}
.list-unstyled{
    text-align: left;
    display: inline-block;
    padding: 15px 0 0 20px;
    border-left: 2px solid #dddcdd;
    width: 100%;
    list-style: none;
}
.sub-text{
    font-size: 22px;
    margin-bottom: 15px;
    margin-left: .2em;
    font-weight: 300;
    color: #fff !important;
}

.sub-text i::before{
    padding-left:5px;
}

.title-product{
    padding-top:50px !important;
}
.product-1{
    line-height: 30px;
    width: 91%;
    margin: 0 auto;
    padding: 3.5em 0;
    position: relative;
    background-color: #f6f5f4 !important;
}
.box-middle{
    width: 95%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.box-clear{
    overflow: hidden;
    height: auto;
    clear: both !important;
    position: relative;
    min-height: 560px;
}
.box-caption{
    height: 390px;
    background: rgba(227,227,223,0.9);
    text-align: center;
    position: absolute;
    margin-top: calc(246px / 2.9);
    width: 480px;
    z-index: 1;
}
.box-img{
    width: 840px;
    right: 0 !important;
    float: right;
    margin-top: 40px;
}
.form-box{
    padding: 0 30px;
    position: relative;
    min-height: 369px;
}
.form-title{
    margin-top:30px;
    font-size: 2em;
    font-style: italic;
    font-weight: 400;
}
.divider-box{
    width: 30%;
    border-top-color: #969696;
    margin: 15px auto !important;
}
.black-color{
    color:black !important;
}
.form-group{
    margin-bottom: 30px;
}
.button-product{
    position: relative !important;
    top: -120px !important;
}
.fix-pos{
    position: relative !important;
    text-transform: none !important;
}
.reverse-right{
    right: 0 !important;
    float: right;
}
.reverse-left{
    left: 0 !important;
    float: left !important;
}
.column ul .sub-text>i{
    float: left;
    color: #333;
    font-size: 24px;
    margin-right: 15px;
    margin-left: .2em;
    width: 25px;
    height: 22px;
}
.column ul .sub-text>i::before{
    margin-left: 0;
    vertical-align: top;
    font-size: 24px;
}

.pdr::before{
    padding-right: 30px;
}

.pdri::before{
    padding-right:5px !important;
}


/*============================slide================*/
.slider-area { width:100%; position:relative; margin:0 auto; padding:5px;}
/*-------------------------
[9. Block slider]
---------------------------*/
.block-slider{
	border:none;
	width: 100%;
}
.block-slider ul li{
	list-style: none;
}
.block-slider .bx-pager{
	display: none;
}
.block-slider .bx-wrapper{
    box-shadow: none;
    border:none;
    
}
.block-slider .bx-prev,
.block-slider .bx-next{
	width: 32px;
	height: 32px;
	border: 1px solid #eaeaea;
	text-align: center;
	display: block;
	border-radius: 50%;
	font-size: 30px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 29px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.block-slider img{
	width: 100%;
	height: auto;
}
.block-slider .bx-prev{
	left: 0px;
	padding-right: 3px;
}
.block-slider .bx-next{
	right: 0px;
	padding-left: 3px;
}
.block-slider:hover .bx-prev{
	left: 10px;
}
.block-slider:hover .bx-next{
	right: 10px;
}
/* .block-slider .bx-prev:hover,
.block-slider .bx-next:hover{
	background: #5a88ca;
	color: #fff;
	border-color: #5a88ca;
} */

/*------------------
[4. Slidershow]
------------------*/

.block-slider .bx-pager{
	display: block;
    text-align: center;
}
.block-slider .bx-pager-item{
	width: 15px;
	height: 15px;
	background: #fff;
	font-size: 0;
	display: inline-block;
	border-radius: 50%;
	margin: 0 3px;
}
.block-slider .bx-pager-item a{
	width: 100%;
	height: 100%;
	background: #999;
	display: block;
	border-radius: 50%;
}
.block-slider .bx-pager-item a.active{
	background: #1bd172;
}
.block-slider .caption-group{
	position: absolute;
    top: 8%;
    right: 7%;
    width: 34%;
}
.block-slider .caption-group .title{
    margin-top: 8px;
	margin: 0;
}
.block-slider .caption-group .subtitle{
	margin: 0;
	margin-top: 5px;
}
.block-slider .caption-group .button-radius{
	margin-top: 27px;
}
.block-slider .caption-group .primary{
	color: #1bd172;
}
.block-slider .caption-group p{
    margin-top: 14px;
}
.block-slider .caption-group a{
    margin-left:53px !important;
    margin-bottom: 14px;
}
.block-slider .caption-group {
    background: rgba(227,227,223,0.9);
    border-radius: 2.5%;
}


.searching{
    color: #1bd172 !important;
}

.slider-button{
    margin-top:80px;
    top: 70px !important;
    background-color: #8c8c7f !important;
}



.brands-area {
    height: 170px !important;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    color: #fff;
    padding: 20px 0 20px;
  }
  .brands-area-1 {
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    color: #fff;
    padding: 20px 0 20px;
  }

.first-img{
    padding-left: 140px;
}
.control-slider .bx-prev{
    background: none !important;
}
.fix-img{
    padding-left:80px;
}
.fix-info{
    right: 8% !important;
    top: 5% !important;
}
.smaller{
    width: 400px !important;
    height: 50% !important;
    display: inline !important;    

}
.first-margin{
    padding-left:200px
}
.rm-padding{
    padding:0 !important;
}

.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
    color: #5a88ca;
  }
  
.copyright > p {
    margin: 10px 0 0;
  }
  .footer-card-icon {
    font-size: 30px;
    text-align: right;
  }
  .footer-top-area .zigzag-bottom{background: #f4f4f4}
.footer-top-area {background: none repeat scroll 0 0 #333;
color: #999;
padding: 35px 0 180px;}


.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
  color: #5a88ca;
}
.footer-wid-title {
  font-size: 30px;
  font-weight: 100;color: #fff
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}
.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}


.footer-social a {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;border: 1px solid #5a88ca;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}
  


/*Quang*/
.card-tnq{
  /* padding-left:auto;
  padding-right:auto; */
  min-height:300px;
  margin-top:15px;
  /* margin-bottom:15px; */
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
 background-color: #e5e5e5
}
.card-tnq:focus, .card-tnq:hover {
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}
.card-img-top{
    margin-top:10px;
}
.rm-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.row-padding{
    padding-left: 15vw;
}

.jumbotron {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.width-full{
    width:100%;
}
.mg-pagination{
    margin-left: 35vw;
}
.card-title{
    text-align: center;
}
.card-text{
    color:red;
    text-align: center;
}

/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    /* cursor: hand; */
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media (max-width: 600px) {
    .brands-area-1 h2{
        font-size: 30px !important;
    }
    .this-button{
        display:none !important;
    }
    .brands-area img{
        padding-left: 25%;
        padding-right: 30%;
    }
    .caption title{
        font-size:25px !important;
    }
    .item-price p{
        font-size: 15px !important;
    }
    .title-img{
        font-size: 90px !important;
    }
    .box-caption{
        width: 100%;
    }
    .form-group{
        padding-top:30px;
    }
    .item-content span{
        font-size: 15px;
    }
}

@media (max-width: 900px){
    .sub-text i span{
        line-height: 36px;
    }
}

@media (max-width: 320px){
    .row-padding{
        padding-left: 40px !important;
    }
    .mg-pagination {
        margin-left: -30px; 
    }
}

.fix-mg{
    margin-top:5px !important;
    padding-left:25% !important;
    padding-right: 25% !important;
    float: none !important;
}
.fix-mg a{
    font-size: 8px !important;
}
.test-signup{
    margin-left:50px !important;
}

@media (max-width: 400px) {
    .item-price p{
        font-size: 11px !important;
    }
    .fix-pos{
        font-size: 5px !important;
    }
    .form-box{
        padding:0 !important;    
    }
}



@media (min-width: 426px) and (max-width: 769px){
    .mg-pagination{
    margin-left: 27vw;
    }
}
@media (min-width: 376px) and (max-width: 425px){
    .mg-pagination{
        margin-left: 0vw;
    }
    .row-padding{
        padding-left: 21vw;
    }
}
@media (max-width: 375px){
    .mg-pagination{
        margin-left: 0vw;
    }
    .row-padding{
        padding-left: 17vw;
    }
}

@media screen and (max-width: 400px) {
    .title-img{
      font-size: 60px !important;
    }
  }
  
@media screen and (max-width: 600px) {
    #signin{
        font-size:10px
    }
    #signup{
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    #signin{
        font-size:7px
    }
    #signup{
        font-size: 7px;
    }
    .logo-container{
        padding-left:20px;
    }
}
