body{
	font-family: Arial, Helvetica, sans-serif;
}

.sub-text{
	font-size: 18px;
}

.test-header{
    position: initial;
}
.avatar{
	text-align: center;
}
.avatar img{
	border-radius: 160px;
	width: 200px;
}
.info-user{
	font-weight: bold;
}
.change_avatar{
	padding: 10px 53px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 40px;
}
.title{
	font-weight: bold;
	padding: 0 5px;
}
.list1, .list2  {
	display: list-item;
	padding: 0px;
}
.list2{
	border-left: 0px;
}
.detail{
	float: right;
}
.kart h2{
	margin-top: 10px;
}
.kart img {
	width: 229px;
}
.change_infor{
	text-align: center;
}
.tablet, .detail_all {
	display: none !important;
}
.button_action {
	padding: 11px 27px !important;
	position: relative !important;
}
.kart_item {
	height: 320px;
}
.infor_product_kart{
	height: 190px;
}
.cancel {
	margin-left: 28px !important;
}
@media screen and (max-width: 991px) {
    .form-v4-content{
    	margin-top: 30px;
    }
    .tablet{
    	display: block !important;
    }
    .detail_all{
    	display: block !important;
    	margin-top: 32px;
    	margin-right: 27px;
    }
    
}
@media screen and (max-width: 767px) {
    .form-v4-content{
    	margin-top: 30px;
    }
    .tablet{
    	display: block;
    }
    .iphone_key{
    	display: none;
    }
    .iphone_value .list2{
    	text-align: center;
    }
    .detail_all{
    	display: block !important;
    	margin-top: 32px;
    	margin-right: 27px;
    }
    .box-clear {
    	padding-left: 70px;
    }
}

@media screen and (max-width: 500px) {
    .title {
    	font-size: 2em;
    }
    .kart {
    	width: max-content;	
    }
    .fix-button {
    	padding: 4px 20px;
    }
    /* .searching {
    	display: none;
    } */
    .kart h2 {
    	font-weight: bold;
    }
    .detail_all{
    	display: block !important;
    	margin-top: 32px;
    	margin-right: 27px;
    	font-size: 10px;
    	padding: 10px 22px !important;
    	float: left;
    }
    .logout {
    	font-size: 10px;
    }
    .pay_all{
    	font-size: 10px;
    	padding: 10px 22px !important;
    	float: left;
    	margin-left: 9px;
    }
}


/*@media screen and (max-width: 414px) {
    .title {
    	font-size: 2em;
    }
    .kart {
    	width: max-content;	
    }
    .fix-button {
    	padding: 4px 20px;
    }
    .searching {
    	display: none;
    }
    .kart h2 {
    	font-weight: bold;
    }
    .detail_all{
    	display: block !important;
    	margin-top: 32px;
    	margin-right: 27px;
    }
}*/